/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.wrap {
  margin: 0 auto;
  width: 1440px;
  height: 628px;
  background-color: orange;
  padding-top: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrap h1 {
  width: 304px;
  height: 82px;
  font-weight: bold;
  font-size: 30px;
  line-height: 82px;
  text-align: center;
  margin-bottom: 26px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #354252;
}

.search {
  position: relative;
  width: 500px;
  height: 48px;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 8px;
}
.search input {
  height: 24px;
  margin: 12px;
  border: none;
  outline: none;
  width: 420px;
}
.search button {
  position: absolute;
  top: 4px;
  right: 0;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  border: none;
  margin-right: 4px;
  color: white;
  font-size: 30px;
  background-color: black;
}
.search button:hover {
  cursor: pointer;
}
.list {
  width: 500px;
  display: flex;
  flex-direction: column;
}
.list ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-color: #fff;
  border-radius: 10px 10px 0 0;
}

.list li {
  width: 165px;
  height: 52px;
  line-height: 52px;
  font-size: 15px;
}
.list li:hover {
  border-bottom: 1px solid #354252;
}
.content {
  padding: 20px;
}

.bottom-list {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  height: 64px;
  align-items: center;
}
.bottom-list p {
  font-size: 14px;
  margin-left: 24px;
}
.btn-clear {
  color: darkgray;
  background-color: #fff;
  margin-right: 47px;
  border: none;
  font-size: 14px;
}
.btn-clear:hover {
  color: black;
}
